@tailwind base;
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,300&family=Roboto+Slab&display=swap');

  /*RESET*/
  * {
    margin:O;
    padding: ;
    box-sizing: border-box;
}



/*VARIABLES*/
:root{
    /*fONTS*/
    --FF:'Nunito Sans', sans-serif;
    --FF-HEADINGS:;

    /*COLORS*/
    --BG-COLOR:#EEE;
    --FONT-COLOR:#000;
    --BORDER-COLOR:BLACK;
    --LINK-COLOR:#000;
    --LINK-HOVER:rgba(0, 0%, 0%,  0.6);
    --LINK-ACTIVE:RED;
    --BG-HEADER-COL0R:rgb(116, 19, 19);
    --HEADER-COLOR:BLACK;
}
 img {
    display: block;
    max-width: 100%;
    height: auto;
 }


 input, button, textarea{
    font: inherit;
 }

html{
    scroll-behavior: smooth;
    font-family: 
    color: var(--FONT-COLOR) ;
}
body{
    position: absolute;
    min-height:100vh;

}
p{
    line-height: 1.5;
}

a:any-link{
color:var(--LINK-COLOR);
}
 a:hover, a:focus-visible{
    color: var(--LINK-HOVER);
 }


.header {
    background-color:var(--BG-HEADER-COL0R);
    display:flex ;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0%;
    position:sticky;
} 

.footer{
    background-color: var(--BG-HEADER-COL0R);
    display: flex;
    flex-direction: column;
    gap:2px;
}

.pic{
    width: 20vh;
    height: 20vh;
    padding: 1rem;
    padding-top: 0;
}

pp 

nav {
    display: flex;
    flex-direction: row;
    gap: 2px;
}
    

